<h2>salom</h2>

<div class="row">
    <div class="col-6">
        <form>
            <div class="mb-3">
                <label for="name">Kino nomi:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="year">Nechinchi yil:</label>
                <input type="number" name="year" class="form-control">
            </div>
            <div class="mb-3">
                <select name="country" id="country" class="form-select">
                    <option value="uzb">uzbekistan</option>
                    <option value="rus">russia</option>
                    <option value="usa">usa</option>
                    <option value="france">france</option>
                </select>
            </div>
            <button type="submit" selected>добавить</button>
        </form>
    </div>
    <div class="col-6">
        <form>
            <div class="mb-3">
                <label for="name">Kino nomi:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="year">Nechinchi yil:</label>
                <input type="number" name="year" class="form-control">
            </div>
            <div class="mb-3">
                <select name="country" id="country" class="form-select">
                    <option value="uzb">uzbekistan</option>
                    <option value="rus">russia</option>
                    <option value="usa">usa</option>
                    <option value="france">france</option>
                </select>
            </div>
            <button type="submit" selected>добавить</button>
        </form>
    </div>
</div>

<img src="~/images/drive-angry-3d-nicolas-cage-and-amber-heard-wallpaper.jpg"  alt="test">
<img src="~/images/images.jpg" alt="test">